<%- include("partials/header") -%>

<h1> Contact </h1>

<h2>WellCome to Daily Journal<br>
Contact Number: 1234567890 <br>
E-mail ID: dailyartilce365@gmail.com</h2>

<%= contactContent %><br>
<br>

<form action="" method="post">
  <label for="">Your Name</label>
  <input type="text" name="" value=""><br><br>
  <label for="">Your Number</label>
  <input type="number" name="" value=""><br><br>
  <label for="">Your Email</label>
  <input type="email" name="" value=""><br><br>
  <label for="">Your Message:</label><br>
  <textarea name="name" rows="30" cols="50" style="width: 726px; height: 31px;"></textarea><br>
  <a class="btn btn-primary" href="/" role="button">Submit</a>
</form>

<%- include("partials/footer") -%>
